body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

article {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os paragrafos dentro do artigo */
article p {
    background-color: #e0f7fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Estilo para o subtitulo especifico dentro do header */
article header .subtitulo {
    font-style: italic;
    color: #00796b;
}

/* Estilo especifico para o titulo do artigo */
article header h1 {
    color: #004d40;
}

/* Troque div pelo selator de sua preferencia*/
div p {
    background-color: #ff0000;
}