body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b40606;
}
/* Sub titulo*/
header h1 {
    background-color: #000000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    color: #ff0000;
    padding: 20px;
    font-size: 50px;
}

header {
    background-color: #000000;
    box-shadow: 0 0 10px #f00101;
    color: #ff0707;
    padding: 20px;
    font-size: 30px;
}

.suplemento {
    border: 2px solid #fcfafa; /* Borda de 2px de espessura e cor preta */
    padding: 15px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaço entre os blocos de texto */
    border-radius: 8px; /* Bordas arredondadas */
}

#suplementacao, #musculacao {
    /* width: 75%; */
    margin: auto;
    background-color: #242427;
}

nav {
    margin-top: 10px;
    background-color: #f00101;
    text-align: center;
}

a {
    color: #f5f5f5;
    font-size: 18px;
}

section {
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    color: rgb(245, 245, 245);
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
nav a {
    text-decoration: none;
    padding: 15px;
    color: white;
    display: inline-block;
}

h1 {
    font-size: 40px;
}

section h2, h3  {
    text-align: center;
    color: white;
    font-size: 40px;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px; 
}

p {
    text-align: center;
    margin-left: 60px; /* Ajuste o valor conforme necessário */
    color:white;
}

nav a:hover {
    background-color: #000000;
    transition: background-color 0.3s;
    }

.float-left img {
    float: left;
    margin-right: 40px;
}

.float-right img {
    float: right;
    margin-left: 40px;
}
 
.fonte-inicial {
    font-family: Arial, sans-serif;
    font-size: 30px;
}
.titulo{
    clear: both;
}

footer {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; /* Ocupa toda a largura */
    position: relative; /* Mantém o rodapé no fluxo normal */
    bottom: 0;
    box-sizing: border-box; 
}