body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2e2e2e;
    color: white;
}
/* Sub titulo*/
header h1 {
    background-color: #000000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    color: #ff0000;
    padding: 20px;
    font-size: 50px;
}


.font-1 {
    font-family: "Roboto", sans-serif ;
    font-weight: 1000;
}

header {
    background-color: #000000;
    box-shadow: 0 0 10px #f00101;
    color: #ff0707;
    padding: 20px;
    font-size: 20px;
}

.suplemento {
    border: 2px solid #fcfafa; /* Borda de 2px de espessura e cor preta */
    padding: 15px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaço entre os blocos de texto */
    border-radius: 8px; /* Bordas arredondadas */
}

nav {
    margin-top: 10px;
    background-color: #f00101;
}

a {
    color: #ffffff;
    font-size: 18px;
}

section {
    padding: 50px;
    margin-top: 20px;
    color: white
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
nav a {
    display: inline-block;
    padding: 10px 30px;
    margin: 10;
    background-color: #f00101;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section h2 , h3  {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    margin-left: 60px; /* Ajuste o valor conforme necessário */
    color:white;
}

nav a:hover {
    background-color: #000000;
}

.float-left img {
    float: left;
    margin-right: 40px;
}

.float-right img {
    float: right;
    margin-left: 40px
}

.clear {
    clear: both
}

footer {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
}